<form name="fileUploadSubmitForm">
   <legend>Upload file</legend>
    <div class="form-group">
        <label class="control-label col-md-4">
            File
        </label>
        <div class="col-md-8">
            <input ng-if="!fileupload.uploaded" class="form-control" type="file" name="file"  ngf-select ng-model="fileupload.file" name="file" ngf-pattern="'image/*'"
                   ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
                   ngf-resize="{width: 100, height: 100}"/>
            <span class="help-block">
                <a ng-if="fileupload.uploaded" href="{{fileupload.uploadPath}}" target="_blank">Uploaded File</a>
            </span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-8 col-md-offset-4">
            <button class="btn btn-primary" type="submit" ng-click="fileupload.submit()">submit</button>
        </div>
    </div>
</form>
