<div class="row">
	<div class="col-md-7">
		Brag about this site
	</div>

	<div class="col-md-5">
		<uib-alert data-ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.message}}</uib-alert>
		<form novalidate name="registrationForm" data-ng-submit="registrationForm.$valid && regisetr()" class="form-horizontal">
			<fieldset>
				<legend data-translate="App.createAccount"></legend>

				<div data-ng-class="{'has-error' : (registrationForm.$submitted || registrationForm.emailId.$touched) && (registrationForm.emailId.$error.required || registrationForm.emailId.$error.email)}" class="form-group">
					<label class="control-label col-md-2">
						<i class="fa fa-lg fa-envelope-o"></i>
					</label>
					<div class="col-md-10">
						<input type="email" name="emailId" data-ng-model="registrationModel.emailId" required class="form-control" placeholder="{{'App.email' | translate}}">
						<span class="help-block" data-translate="App.Help.emailId"></span>
					</div>
				</div>
				<div data-ng-class="{'has-error' : (registrationForm.$submitted || registrationForm.username.$touched) && (registrationForm.username.$error.required || registrationForm.username.$error.pattern)}" class="form-group">
					<label class="control-label col-md-2">
						<i class="fa fa-lg fa-user"></i>
					</label>
					<div class="col-md-10">
						<input type="text" name="username" data-ng-model="registrationModel.username" required pattern="[a-zA-Z0-9_]{6,}" class="form-control" placeholder="{{'App.username' | translate}}">
						<span class="help-block" data-translate="App.Help.username"></span>
					</div>
				</div>
				<div data-ng-class="{'has-error' : (registrationForm.$submitted || registrationForm.password.$touched) && (registrationForm.password.$error.required)}" class="form-group">
					<label class="control-label col-md-2">
						<i class="fa fa-lg fa-lock"></i>
					</label>
					<div class="col-md-10">
						<input type="password" name="password" data-ng-model="registrationModel.password" required class="form-control" placeholder="{{'App.password' | translate}}">
						<span class="help-block" data-translate="App.Help.password"></span>
					</div>
				</div>
				<div data-ng-class="{'has-error' : (registrationForm.$submitted || registrationForm.repeatPassword.$touched) && (registrationForm.repeatPassword.$error.required)}" class="form-group">
					<label class="control-label col-md-2">
						<i class="fa fa-lg fa-lock"></i>
					</label>
					<div class="col-md-10">
						<input type="password" name="repeatPassword" data-ng-model="registrationModel.repeatPassword" required class="form-control" placeholder="{{'App.repeatPassword' | translate}}">
						<span class="help-block" data-translate="App.Help.repeatPassword"></span>
					</div>
				</div>
			</fieldset>
			<div class="form-group">
					<div class="col-md-10 col-md-offset-2">
						<button class="btn btn-primary" type="submit" data-translate="App.createAccount">

						</button>


					</div>
				</div>
		</form>
	</div>
</div>