<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="/public/app/stylesheets/bootstrap-paper.min.css">
    <link rel="stylesheet" href="/public/app/stylesheets/style.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css">
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>
<nav role="navigation" data-ng-controller="NavbarController" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span
                    class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            <a href="/" class="navbar-brand">App</a>
        </div>
    </div>
</nav>
<div class="container">
    <form method="post" action="undefined/resetpassword" class="form-horizontal">
        <fieldset>
            <legend>Reset Password</legend>
            <input type="hidden" name="username" value="undefined">
            <input type="hidden" name="key" value="undefined">

            <div class="form-group">
                <label class="control-label col-md-4">New Password</label>

                <div class="col-md-8">
                    <input type="password" name="password" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">Repeat Password</label>

                <div class="col-md-8">
                    <input type="password" name="repeatPassword" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-8 col-md-offset-4">
                    <button type="reset" class="btn btn-primary">Cancel</button>
                    <button type="submit" class="btn btn-success">Change Password</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<footer class="footer">
    <div class="container">
        <p class="text-muted">Footer</p>
    </div>
</footer>
</body>
</html>