<div class="row">
	<div class="col-md-7">
		Password Change Intructions
	</div>

	<div class="col-md-5">
		<uib-alert data-ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.message}}</uib-alert>
		<form novalidate data-ng-submit="passwordChangeForm.$valid && changePassword()" name="passwordChangeForm" class="form-horizontal">
			<fieldset>
				<legend data-translate="App.changePassword"></legend>

				<div data-ng-class="{'has-error' : (passwordChangeForm.$submitted || passwordChangeForm.oldPassword.$touched) && (passwordChangeModel.wrongCredentials || passwordChangeForm.oldPassword.$error.required)}" class="form-group">
					<label class="control-label col-md-2">
						<i class="fa fa-lg fa-lock"></i>
					</label>
					<div class="col-md-10">
						<input type="password" name="oldPassword" data-ng-model="passwordChangeModel.oldPassword" required  class="form-control" placeholder="{{'App.oldPassword' | translate}}">
						<span class="help-block" data-translate="App.Help.oldPassword"></span>
					</div>
				</div>

				<div data-ng-class="{'has-error' : (passwordChangeForm.$submitted || passwordChangeForm.password.$touched) && (passwordChangeForm.password.$error.required)}" class="form-group">
					<label class="control-label col-md-2">
						<i class="fa fa-lg fa-lock"></i>
					</label>
					<div class="col-md-10">
						<input type="password" name="password" data-ng-model="passwordChangeModel.password" required  class="form-control" placeholder="{{'App.password' | translate}}">
						<span class="help-block" data-translate="App.Help.password"></span>
					</div>
				</div>
				<div data-ng-class="{'has-error' : (passwordChangeForm.$submitted || passwordChangeForm.repeatPassword.$touched) && (passwordChangeForm.repeatPassword.$error.required)}" class="form-group">
					<label class="control-label col-md-2">
						<i class="fa fa-lg fa-lock"></i>
					</label>
					<div class="col-md-10">
						<input type="password" name="repeatPassword" data-ng-model="passwordChangeModel.repeatPassword" required class="form-control" placeholder="{{'App.repeatPassword' | translate}}">
						<span class="help-block" data-translate="App.Help.repeatPassword"></span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-10 col-md-offset-2">						
						<button class="btn btn-primary" type="submit" data-translate="App.changePassword">
						</button>	
							
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>