 <div class="row">
        <div class="col-md-12">
                <form class="form-horizontal" method="post">
                    <fieldset>
                        <legend data-translate="App.contactUs"></legend>

                        <div class="form-group">
                            <label class="col-md-1 col-md-offset-2 control-label"><i class="fa fa-user fa-lg"></i></label>
                            <div class="col-md-8">
                                <input id="fname" name="name" type="text" placeholder="{{'App.firstName' | translate}}" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-1 col-md-offset-2 control-label"><i class="fa fa-user fa-lg"></i></label>
                            <div class="col-md-8">
                                <input id="lname" name="name" type="text" placeholder="{{'App.lastName' | translate}}" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-1 col-md-offset-2 control-label"><i class="fa fa-envelope-o fa-lg"></i></label>
                            <div class="col-md-8">
                                <input id="email" name="email" type="text" placeholder="{{'App.email' | translate}}" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-1 col-md-offset-2 control-label"><i class="fa fa-phone-square fa-lg"></i></label>
                            <div class="col-md-8">
                                <input id="phone" name="phone" type="text" placeholder="{{'App.phone' | translate}}" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-1 col-md-offset-2 control-label"><i class="fa fa-pencil-square-o fa-lg"></i></label>
                            <div class="col-md-8">
                                <textarea class="form-control" id="message" name="message" placeholder="{{'App.contactUsMessagePlaceHolder' | translate}}" rows="7"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-3">
                                <button type="reset" class="btn btn-default" data-translate="App.clear"></button>
                                <button type="submit" class="btn btn-primary" data-translate="App.submit"></button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
    </div>