<div class="row">
    <div class="col-md-3">
        <div class="list-group">

            <a class="list-group-item" data-ui-sref="ui components({ id : '/public/app/templates/ui/table.html'})">
                Table
            </a>

            <a class="list-group-item" data-ui-sref="ui components({ id : '/public/app/templates/ui/form.html'})">
                Form
            </a>

            <a class="list-group-item" data-ui-sref="ui components({ id : '/public/app/templates/ui/chart.html'})">
                chart
            </a>

        </div>
    </div>
    <div class="col-md-9">
       <data-ng-include src="activeUI"></data-ng-include>
    </div>
</div>